
  /* CV content */
  main.cv li {
    list-style: decimal;
  }

  .header {
    text-align: center;
  }

  main.cv, main.publications, main.conferences, main.review {
    margin: 3%;
  }

  main.cv table, main.publications, main.conferences {
    font-size: large;
  }

  table.vertical { 
    border-collapse: collapse; 
  }
  table.vertical tr { 
    border: none; 
  }
  table.vertical td {
    border-right: solid 1px; 
    border-left: solid 1px;
  }
  ol.references li {
    font-size: large;
  }

 /* Reviews */
  main.review table, main.review th, main.review td {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
  }

  main.review tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  p.table_header {
    margin: 1%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: large;
    text-align: center;
    margin-top: 2%;
  }

  p.figure_header {
    margin: 1%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: large;
    text-align: center;
    margin-bottom: 4%;
  }

  main.review img {
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 /* Homepage */
  main.homepage {
    display: flex;
    align-items: center;
    justify-content: center
  }

  figure.headshot {
    min-width: 40%;
  }

  span.homepage {
    margin-right: 1%;
  }

  /* Navigation bar */
  nav a {
    color: #fff;
  }

  nav {
    /* position: fixed;
    top: 0;
    left: 0; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #0a0a23;
  }
  
  nav li {
    list-style: none;
    display: inline;
  }
  
  /* Other styling */
  a {
    font-weight: 700;
    margin: 0 5px;
    text-decoration: none;
  }

  p {
    margin: 1%;
    font-size: x-large;
    text-align: justify;
  }

  blockquote {
    margin: 1%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: x-large;
    text-align: justify;

  }
  
  a:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #4ece2b;
    color: #4ece2b;
  }

  h1.note {
    text-align: center;
  }

  ul {
    padding: 0;
  }

